<%= link_to 'Add New Discount', new_dashboard_item_discount_path(merchant_id: session[:user_id]) %>
<% @item_discounts.each do |item_discount| %>
<section id= 'discount-<%= item_discount.id %>'>
  <h3><%= item_discount.name %></h3>
  <p>Description: <%= item_discount.description %></p>
  <p>Order Price Threshold: <%= item_discount.order_price_threshold %></p>
  <p>Discount Amount: <%= item_discount.discount_amount%></p>
  <% if item_discount.active %>
  <%= link_to 'Disable Discount', dashboard_disable_item_discount_path(item_discount), method: :patch %>
  <% else %>
  <%= link_to 'Enable Discount', dashboard_enable_item_discount_path(item_discount), method: :patch %>
  <% end %>
  <%= link_to 'Edit Discount', edit_dashboard_item_discount_path(item_discount) %>
  <%= link_to 'Delete Discount', dashboard_item_discount_path(item_discount), method: :delete %>
</section>
<% end %>
